; Sample configuration file for scripts/calculate-degree-days.pl

[input]

type=climdivs
tmax=/path/to/tmax_%Y%m%d.txt
tmin=/path/to/tmin_%Y%m%d.txt
locations=$APP_PATH/locations/climdivs363.csv

[cooling]

base=65
type="Cooling Degree Days"

[heating]

base=65
type="Heating Degree Days"

[growing]

base=50
ceil=86
type="Growing Degree Days (Corn)"

[output]

cooling=/path/to/cdd_%Y%m%d.txt
growing=/path/to/gdd-corn_%Y%m%d.txt
heating=/path/to/hdd_%Y%m%d.txt

