; Sample configuration file for scripts/calculate-degree-days.pl to set the temperature 
; archive information.

[archive]

daily_max=/path/to/archive/%Y/tmax_%Y%m%d.txt
daily_min=/path/to/archive/%Y/tmin_%Y%m%d.txt
type=cadb
station_list=$APP_PATH/config/selected_stations.txt

[output]

path=$DATA_OUT/observations/land_air/short_range/us/degree_days/%Y
types=cooling,growing,heating
filenames=cdd_%Y%m%d.txt,gdd-corn_%Y%m%d,hdd_%Y%m%d

