; Sample configuration file for scripts/calculate-degree-days.pl

[input]

type=climdivs
tmax=/path/to/tmax_%Y%m%d.txt
tmin=/path/to/tmin_%Y%m%d.txt

[cooling]

base=65

[heating]

base=65

[growing]

base=50
ceil=86
type=Corn

[output]

cooling=/path/to/cdd_%Y%m%d.txt
growing=/path/to/gdd-corn_%Y%m%d.txt
heating=/path/to/hdd_%Y%m%d.txt

