; Sample configuration file for scripts/calculate-degree-days.pl to set the temperature 
; archive information.

[archive]

max_archive=/path/to/archive/%Y/tmax_%Y%m%d.txt
min_archive=/path/to/archive/%Y/tmin_%Y%m%d.txt
type=cadb
location_list=$APP_PATH/config/selected_stations.txt

[output]

cooling_archive=$DATA_OUT/observations/land_air/short_range/us/degree_days/%Y/cdd_%Y%m%d.txt
cooling_header='Cooling Degree Days'
growing_archive=$DATA_OUT/observations/land_air/short_range/us/degree_days/%Y/gdd_%Y%m%d.txt
growing_header='Growing Degree Days (Corn)'
heating_archive=$DATA_OUT/observations/land_air/short_range/us/degree_days/%Y/hdd_%Y%m%d.txt
heating_header='Heating Degree Days'

