; Configuration file describing the daily archive datasets created by this application

[cooling]

climdivs=/path/to/degree_days/climdivs/%Y/cooling_%Y%m%d.txt
climdivs_clim=/path/to/degree_days/clim/climdivs/cooling_%m%d.txt
stations=/path/to/degree_days/stations/%Y/cooling_%Y%m%d.txt
stations_clim=/path/to/degree_days/clim/stations/cooling_%m%d.txt
weighted=/path/to/degree_days/weighted/%Y/cooling_%Y%m%d.txt
weighted_clim=/path/to/degree_days/clim/weighted/cooling_%m%d.txt

[growing]

climdivs=/path/to/degree_days/climdivs/%Y/growing-corn_%Y%m%d.txt
climdivs_clim=/path/to/degree_days/clim/climdivs/growing-corn_%m%d.txt
stations=/path/to/degree_days/stations/%Y/growing-corn_%Y%m%d.txt
stations_clim=/path/to/degree_days/clim/stations/growing-corn_%m%d.txt

[heating]

climdivs=/path/to/degree_days/climdivs/%Y/heating_%Y%m%d.txt
climdivs_clim=/path/to/degree_days/clim/climdivs/heating_%m%d.txt
stations=/path/to/degree_days/stations/%Y/heating_%Y%m%d.txt
stations_clim=/path/to/degree_days/clim/stations/heating_%m%d.txt
weighted=/path/to/degree_days/weighted/%Y/heating_%Y%m%d.txt
weighted_clim=/path/to/degree_days/clim/weighted/heating_%m%d.txt

