; Configuration file for scripts/weighted-degree-days.pl to set the weighting information

[climdivs]

weights=climate_divisions.csv

[states0]

name="Population Weighted"
census=population_census.csv
conus=population_conus.csv
us=population_us.csv

[states1]

name="All Households Weighted"
census=all-households_census.csv
conus=all-households_conus.csv
us=all-households_us.csv

[states2]

name="Bottled, Tank, LP Gas Weighted"
census=bottled-tank-lp-gas_census.csv
conus=bottled-tank-lp-gas_conus.csv
us=bottled-tank-lp-gas_us.csv

[states3]

name="Coal and Coke Weighted"
census=coal-coke_census.csv
conus=coal-coke_conus.csv
us=coal-coke_us.csv

[states4]

name="Electricity Weighted"
census=electricity_census.csv
conus=electricity_conus.csv
us=electricity_us.csv

[states5]

name="Fuel Oil, Kerosene, etc. Weighted"
census=fuel-oil-kerosene-etc_census.csv
conus=fuel-oil-kerosene-etc_conus.csv
us=fuel-oil-kerosene-etc_us.csv

[states6]

name="No Fuel Weighted"
census=no-fuel_census.csv
conus=no-fuel_conus.csv
us=no-fuel_us.csv

[states7]

name="Other Fuel Weighted"
census=other-fuel_census.csv
conus=other-fuel_conus.csv
us=other-fuel_us.csv

[states8]

name="Solar Energy Weighted"
census=solar-energy_census.csv
conus=solar-energy_conus.csv
us=solar-energy_us.csv

[states9]

name="Utility Gas Weighted"
census=utility-gas_census.csv
conus=utility-gas_conus.csv
us=utility-gas_us.csv

[states10]

name="Wood Burning Weighted"
census=wood_census.csv
conus=wood_conus.csv
us=wood_us.csv

